<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="github.com/dgomesz">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aba</title>
</head>
<body>
<!-- eu sou um comentario -->
      <marquee bgColor = "red" behavior="" direction="up">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, eos?</marquee>
      <marquee bgColor = "green" behavior="" direction="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, iste labore.</marquee>
      <marquee bgColor = "blue" behavior="" direction="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis.</marquee>
      <marquee bgColor = "yellow"behavior="" direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eligendi doloribus illum?</marquee>


     
</body>
</html>